.chart-tooltip {
  background: none;
  tr {
    background: none;
    border: none;
    th {
      text-align: left;
    }
    th,
    td {
      padding: 0;
      color: white;
    }
  }
  i.circle:before {
    content: '';
    background-color: currentColor;
    display: inline-block;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    margin-right: 5px;
  }
  .line {
    .left {
      text-align: left;
    }
    .right {
      text-align: right;
    }
  }
}
