html {
  height: 100%;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

body {
  // font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-family: 'Helvetica Neue', 'Helvetica', tahoma, 'Hiragino Sans GB', 'PingFang SC', 'STHeitiSC-Light', 'Microsoft YaHei', Arial, sans-serif;
  background: #ecf1f7;
  min-width: 1200px;
  min-height: 100%;
  color: #55627b;
  font-size: 14px;
  padding: 0;
  margin: 0;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}


.mr-0_5em {
  margin-right: .5em;
}

.mr-1em {
  margin-right: 1em;
}

.mr5 {
  margin-right: 5px;
}

.ml5 {
  margin-left: 5px;
}

.mr10 {
  margin-right: 10px;
}

.ml10 {
  margin-left: 10px;
}

.ib {
  display: inline-block;
}

.dn {
  display: none;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clfix {
  &:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
  }
}

.cl-b {
  clear: both;
}

.lh1_5 {
  line-height: 1.5em;
}

.dn-by-h {
  overflow: hidden;
  height: 0!important;
  padding: 0!important;
}

.dn-imp {
  display: none!important;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ov-h {
  overflow: hidden;
}

.va-r1 {
  vertical-align: -.1em;
}

.blank:after {
  content: 'ç©º';
  color: transparent;
  opacity: 0;
}
