.table {
  border: 1px solid #e7eaf4;
  border-radius: 0 0 4px 4px;
  overflow: hidden;
}

table {
  width: 100%;
  font-size: 13px;
  color: #626473;
  table-layout: fixed;
  thead {
    tr {
      background: #b4becf;
      color: white;
    }
    th {
      text-align: left;
      padding: 13px 5px;
      &.text-center {
        text-align: center;
      }
      &.order-column {
        cursor: pointer;
        &.active {
          &.asc {
            .asc {
              color: #6ae5d3;
            }
          }
          &.desc {
            .desc {
              color: #6ae5d3;
            }
          }
        }
      }
    }
    .icon-order-group {
      margin-left: 5px;
      letter-spacing: -4px;
      .asc,
      .desc {
        transform: scale(.7);
        font-size: 12px;
        display: inline-block;
      }
      .asc {
        vertical-align: 3px;
      }
      .desc {
        vertical-align: -3px;
        transform: rotate(180deg) scale(.7);
      }
    }
  }
  tbody {
    tr {
      background: white;
      color: #626473;
      border-bottom: 1px solid #e5e9f3;
      &:last-of-type {
        border-bottom: 0;
      }
      &:hover {
        background: #ecf1f7;
      }
    }
    td {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      &.text-center {
        text-align: center;
      }
      padding: 8px 5px;
    }
    a {
      display: inline;
      &.link {
        color: #18b8ba;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.el-dialog {
  .table {
    border-radius: 4px;
  }
  table {
    table-layout: auto;
    thead {
      th {
        height: 30px;
        font-size: 12px;
        padding: 9px 5px;
        text-align: center;
      }
    }
    tbody {
      td {
        font-size: 12px;
        color: #8e98a9;
        text-align: center;
      }
    }
  }
}

.overview-table {
  background: #fff;
  border-radius: 4px;
  padding: 10px;
  .table-container {
    margin-bottom: 20px;
    .table-body {
      max-height: 350px;
      overflow-y: auto;
    }
  }
  table {
    margin-bottom: 20px;
    table-layout: fixed;
    &:last-of-type {
      margin-bottom: 0;
    }
    thead {
      tr {
        background: none;
      }
      border-bottom: 3px solid #b4becf;
      th {
        height: 40px;
        padding: 0 0;
        text-align: center;
        font-size: 15px;
        background: none;
        border-radius: 4px 4px 0 0;
        &:first-child {
          background: #b4becf;
          width: 200px;
        }
      }
    }
    tbody {
      // max-height: 350px;
      // overflow-y: auto;
      tr {
        text-align: left;
        border-bottom: 1px solid #b4becf;
        &:hover {
          cursor: pointer;
        }
        &:first-of-type {
          .implement {
            line-height: 30px;
          }
          td {
            height: 35px;
            line-height: 35px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            padding: 0;
            min-width: 120px;
            font-size: 13px;
            &:hover {
              cursor: pointer;
            }
            &:first-of-type {
              width: 290px;
              text-align: left;
              text-indent: 10px;
            }
            span {
              cursor: pointer;
            }
            em {
              margin-left: 5px;
              cursor: pointer;
            }
            i {
              vertical-align: middle;
            }
            .em-implement {
              vertical-align: middle;
            }
            .bg-color {
              display: inline-block;
              width: 70px;
              height: 25px;
              line-height: 25px;
              border-radius: 4px;
              text-align: center;
              &:hover {
                background: #54c9b8;
                color: #fff;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}

.update-square {
  background: #ecf1f7;
  border-radius: 4px;
  // padding:10px;
  margin-top: 10px;
  height: 80px;
  line-height: 80px;
  text-align: center;
}

.product-table {
  background: #ecf1f7;
  border-radius: 4px;
  padding: 10px;
  margin-top: 10px;
  table {
    table-layout: fixed;
    tr {
      background: #ecf1f7;
      &:hover {
        cursor: crosshair;
      }
    }
    td {
      height: 60px;
      line-height: 50px;
      padding: 0;
      span {
        font-size: 13px;
        em {
          margin-left: 5px;
        }
      }
    }
  }
}
